#main-container {
  background: url("../assets/images/almanacbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}

#location-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 30%;
  max-width: 50%;
  min-height: 40%;
  max-height: 98%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: var(--sectionBgGlass);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 3px solid var(--normalScreenMain);
  padding: 30px;
  border-radius: 2px;
  gap: 30px;
}



#location-form > input {
  font-family: var(--textFont);
  font-size: 1.4rem;
  width: min-content;
  max-width: 96%;
  background-color: var(--normalScreenGlass);
  /* font-weight: bold; */
  padding-left: 10px;
  border: 3px solid var(--normalScreenMain);
  border-radius: 2px;
  box-shadow: 0px 2px 4px var(--navBg);
}



#location-form > label {
  font-family: var(--textFont);
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px var(--sectionBg);
  letter-spacing: 2px;
  line-height: 1.5;
}


#location-form > button {
  width: fit-content;
  height: 5vh;
  font-family: var(--textFont);
  /* font-weight: bold; */
  padding: 10px 20px;
  font-size: 1.3rem;
  box-shadow: 0px 2px 4px var(--navBg);
  background-color: var(--normalScreenGlass);
  border: none;
  color: var(--lightTextColor);
  text-shadow: 1px 1px 2px var(--navBg);
  align-self: flex-end;
  transition: 0.5s;
  border-radius: 2px;
}

#location-form > button:hover {
  transform: translatey(-5px) scale(1.05);
  box-shadow: 0px 5px 4px var(--darkAccentColor);
  cursor: pointer;
  background-color: var(--navBg);
}

@media (max-width: 500px) {

  #location-form {
    width: 60%;
    margin: 5vh 2vw;
    padding: 20px;
    align-items: center;
  }

  #location-form > h1 {
    font-size: 12px;
    text-align: justify;
  }

  #location-form > label {
    font-size: 11px;
  }

  #location-form > input {
    max-width: 96%;
    text-align: center;
    font-size: 0.9rem;
  }

  #location-form > label:nth-of-type(3) {
    font-size: 12px;
  }

  #location-form > button {
    font-size: 14px;
    padding: 5px 10px;
    align-self: center;
  }
}

@media (min-width: 1200px) {
  #main-container {
    background: url("../assets/images/almanacbgwide.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
  }

  #location-form {
    margin-right: 5vw;
  }

}
